<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DB Model</title>
</head>
<body>


        <table>
            {% if emp_list %}
            {% for data in emp_list %}
            <tr>
            <th>ID</th>
            <td>{{ data.empNo }}</td>
            <th>Name : </th>
            <td>{{ data.empName }}</td>
            <th>Salary : </th>
            <td>{{ data.empSalary }}</td>
            <th>Address : </th>
            <td>{{ data.empyAddress }}</td>
        </tr>
            {% endfor %}
            {% endif %}
        </table>

</body>
</html>