<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>

</head>
<imqg>

    <h1>Separate HTML file is Template</h1>
    <i>Current Date and Time: {{ display_date }} </i>
    <blockquote>User name : {{ name }}</blockquote>
    <blockquote> {{ greeting }} </blockquote>
    {% load static %}
    <img src="{% static 'images/jokerandroid.jpg' %}" alt="Joker Image">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</body>
</html>